$icomoon-font-family: "lucky" !default;
$icomoon-font-path: "fonts" !default;

$lucky-back-arrow: "\e900";
$lucky-bird: "\e901";
$lucky-blog: "\e902";
$lucky-boy: "\e903";
$lucky-calendar: "\e904";
$lucky-camera: "\e905";
$lucky-cat: "\e906";
$lucky-circle: "\e907";
$lucky-close: "\e908";
$lucky-complete: "\e909";
$lucky-config: "\e90a";
$lucky-dog: "\e90b";
$lucky-dog-ball: "\e90c";
$lucky-dog-house: "\e90d";
$lucky-donate: "\e90e";
$lucky-down-arrow: "\e90f";
$lucky-education: "\e910";
$lucky-email: "\e911";
$lucky-events: "\e912";
$lucky-export: "\e913";
$lucky-eye: "\e914";
$lucky-female: "\e915";
$lucky-ferret: "\e916";
$lucky-filter: "\e917";
$lucky-fish: "\e918";
$lucky-frog: "\e919";
$lucky-girl: "\e91a";
$lucky-hair-dryer: "\e91b";
$lucky-hamster: "\e91c";
$lucky-heart: "\e91d";
$lucky-home: "\e91e";
$lucky-info: "\e91f";
$lucky-localization: "\e920";
$lucky-logout: "\e921";
$lucky-male: "\e922";
$lucky-mammal: "\e923";
$lucky-maps: "\e924";
$lucky-next-arrow: "\e925";
$lucky-notification: "\e926";
$lucky-oval: "\e927";
$lucky-paw: "\e928";
$lucky-pet: "\e929";
$lucky-pet-adoption: "\e92a";
$lucky-pet-friendly: "\e92b";
$lucky-petgarten: "\e92c";
$lucky-pet-house: "\e92d";
$lucky-pet-shop: "\e92e";
$lucky-plus: "\e92f";
$lucky-progress: "\e930";
$lucky-rabbit: "\e931";
$lucky-reject: "\e932";
$lucky-search: "\e933";
$lucky-snake: "\e934";
$lucky-spider: "\e935";
$lucky-sponsor: "\e936";
$lucky-up-arrow: "\e937";
$lucky-veterinary: "\e938";
$lucky-veterinary-clinic: "\e939";
$lucky-whatsapp: "\e93a";

